{% extends 'base.html.twig' %}

{% block title %}{{ movie.title }}{% endblock %}

{% block body %}

    <!-- main -->

    <div class="container bg-lighttt pt-5">

        <div class="row mb-2">

            <div class="col">

                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row align-items-start mb-4 shadow-sm position-relative">
                    <div class="col-4 movie__poster img-thumbnail">
                        <img src="{{movie.poster}}" class="img-fluid">
                    </div>

                    <div class="col-8 p-4 d-flex flex-column position-static bg-light">
                        {% include "favorite/_toggle_button.twig" %}
                        <strong class="d-inline-block mb-2 text-primary">{{movie.type}}</strong>
                        <h3 class="mb-1">{{movie.title}}</h3>
                        <div class="mb-1 text-muted">{{movie.duration}} min</div>
                        <p>
                        {# TODO à finaliser #}
                            {% for genre in movie.genres %}
                                <span class="badge bg-warning text-dark">{{genre.name}}</span>
                            {% endfor %}
                        </p>
                        <p>{{movie.summary}}</p>
                        <p>{{movie.synopsis}}</p>

                        {# TODO à finaliser #}
                        <div class="d-flex mb-4" style="color: orange;">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-half"></i>
                            <span class="ps-1">{{movie.rating}}</span>
                        </div>

                        {# TODO à finaliser #}
                        <h2>"TODO" Saisons</h2>
                        <ul class="list-unstyled">
                            {% for season in movie.seasons %}
                                <li><span class="badge bg-danger fs-6 mb-2">Saison {{season.numberSeason}}</span><small class="ms-1">({{season.numberEpisode}} épisodes)</small></li>
                            {% endfor %}
                        </ul>

                        {# TODO à finaliser #}
                        <dl class="row">
                            <dt class="col-sm-12">Avec</dt>
                            <dd class="col-sm-12">
                                Acteur 1 (Tilt)<br>
                                Acteur 2 (La reine)<br>
                                Acteur 3 (Franz)<br>
                            </dd>
                            <dt class="col-sm-12">Pays</dt>
                            <dd class="col-sm-12">USA</dd>
                            <dt class="col-sm-12">Année</dt>
                            <dd class="col-sm-12">{{movie.releaseDate|date("Y")}}</dd>
                        </dl>

                    </div>
                </div>

            </div>

        </div>

    </div>

{% endblock %}
