{% extends 'base.html.twig' %}

{% block title %}{{ movie.title }}{% endblock %}

{% block body %}

    <!-- main -->

    <div class="container bg-light pt-5">

    {% include "fragments/_flash_message.html.twig" %}

        <div class="row mb-2">

            <div class="col">

                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row align-items-start mb-4 shadow-sm position-relative">
                    <div class="col-4 movie__poster img-thumbnail">
                        <img src="{{movie.poster}}" class="img-fluid">
                    </div>

                    <div class="col-8 p-4 d-flex flex-column position-static bg-light">
                        {% include "favorite/_toggle_button.twig" %}
                        <strong class="d-inline-block mb-2 text-primary">{{movie.type}}</strong>
                        <h3 class="mb-1">{{movie.title}}</h3>
                        <div class="mb-1 text-muted">{{movie.duration}} min</div>
                        <p>
                            {% for genre in movie.genres %}
                                <span class="badge bg-warning text-dark">{{genre.name}}</span>
                            {% endfor %}
                        </p>
                        <p>{{movie.summary}}</p>
                        <p>{{movie.synopsis}}</p>

                        {# TODO à finaliser #}
                        <div class="d-flex mb-4" style="color: orange;">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-half"></i>
                            <span class="ps-1">{{movie.rating}}</span>
                        </div>

                        {# TODO à finaliser #}
                        <h2>"TODO" Saisons</h2>
                        <ul class="list-unstyled">
                            {% for season in seasons %}
                                <li><span class="badge bg-danger fs-6 mb-2">Saison {{season.numberSeason}}</span><small class="ms-1">({{season.numberEpisode}} épisodes)</small></li>
                            {% endfor %}
                        </ul>

                        {# TODO à finaliser #}
                        <dl class="row">
                            <dt class="col-sm-12">Avec</dt>
                            {% for casting in movie.castings %}
                                <dd class="col-sm-12">
                                    {{casting.person.firstname}} {{casting.person.lastname}} ({{casting.role}})<br>
                                </dd>
                            {% endfor %}
                            <dt class="col-sm-12">Pays</dt>
                            <dd class="col-sm-12">USA</dd>
                            <dt class="col-sm-12">Année</dt>
                            <dd class="col-sm-12">{{movie.releaseDate|date("Y")}}</dd>
                        </dl>

                        <a href="{{path("app_review_add", {id:movie.id})}}" class="btn btn-danger">
                            Ajouter une critique
                        </a>
                        <section class="mt-5">
							{% if reviews is not empty %}
							
								<h2 class="text-center">Les critiques</h2>
								{% for review in reviews %}
									<div class="card mt-3">
										<div class="card-header">
											Note : {{review.rating}}
										</div>
										<div class="card-body" style="fontsize: 2rem;>
											<div class="blockquote mb-0">
                                                <p>{{review.content}}</p>
                                                <ul>
                                                    {% for reaction in review.reactions %}
                                                        <li>{{reaction}}</li>	
                                                    {% endfor %}
                                                </ul>	
                                                <footer class="blockquote-footer mt-2 mb-0">Pseudo : {{review.username}}<cite title="Source Title">, visionné le : {{review.watchedAt|date("d/m/Y")}}</cite></footer>
											</div>
										</div>
									</div>
								{% endfor %}
							{% else %}
								<h2 class="text-center">Aucune critique disponible</h2>
							{% endif %}
						</section>

                    </div>
                </div>

            </div>

        </div>

    </div>

{% endblock %}
