{% extends 'base.html.twig' %}

{% block title %}Ajouter une critique{% endblock %}

{% block body %}

    <div class="container my-4">

        <h3 class="mb-4  text-center"> Ajouter votre critique concernant : {{movie.title}}</h3>

        {{form_start(form, {attr:{novalidate:"novalidate"}})}}

            <div class="col-3 mx-auto my-3">
                {{form_row(form.watchedAt)}}
            </div>

            {{form_rest(form)}}

            <button type="submit" class="fw-bold d-block col-3 mx-auto btn btn-danger">Valider</button>

        {{form_end(form)}}

    </div>
{% endblock %}
