
{% extends 'base.html.twig' %}

{% block title %}O'flix | Liste des films {% endblock %}

{% block body %}

    <!-- main -->

    <div class="container-xl bg-light p-5 border-top">

        <div class="row mb-2">

            <div class="col-12 col-lg-3">
                <h2 class="text-center text-muted fw-bold mb-4">Les genres</h2>
                <ul class="d-flex flex-column flex-wrap list-unstyled justify-content-center">
                {% for genre in genres %}
                    <a class="btn btn-sm btn-outline-danger mx-1 mb-2" href="{{ path('app_genre_getMoviesByGenre', {id: genre.id}) }}">{{genre.name}}</a>
                {% endfor %}
                </ul>
            </div>

            <div class="col-12 col-lg-9">

                <h2 class="text-muted fw-bold mb-4">Les films et séries/Résultats de recherche</h2>

            {% for movie in movies %}
                
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm bg-white position-relative">
                    <div class="col-4 movie__poster">
                        <img src="{{ movie.poster }}" class="img-fluid">
                    </div>
                    <div class="col-8 p-4 d-flex flex-column position-static">
                        {% include "front/favorite/_toggle_button.twig" %}
                        <strong class="d-inline-block mb-2 text-primary">{{ movie.type }}</strong>
                        <h3 class="mb-1">{{ movie.title }}</h3>
                        <div class="mb-1 text-muted">{{ movie.duration }} min</div>
                        <p><small>{{ movie.summary }}</small>
                        </p>
                        <div class="d-flex" style="color: orange;">
                            {% include "fragments/_stars.html.twig" %}
                            <span class="ps-1">{{ movie.rating }}</span>
                        </div>
                        <a href="{{path('app_movie_show', {id: movie.id})}}" class="fs-1 mt-3 text-danger align-self-start">
                            <i class="bi bi-arrow-right-square"></i>
                        </a>
                    </div>
                </div>

            {% endfor %}

            </div>

            {# <nav class="col-lg-9 offset-lg-3">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link">&laquo;</a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item" aria-current="page">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">&raquo;</a>
                    </li>
                </ul>
            </nav> #}

        </div>

    </div>

{% endblock %}
