{% extends 'back/layout.html.twig' %}

{% block title %}Liste des films / séries{% endblock %}

{% block subBody %}

    <h1>Liste</h1>

    <a class="btn btn-primary fw-bold" href="{{ path('app_back_movie_new') }}">Créer un film</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Durée</th>
                <th>Date de réalisation</th>
                <th>Synopsis</th>
                <th>Résumé</th>
                <th>Pays</th>
                <th>Poster</th>
                <th>Type</th>
                <th>Note</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for movie in movies %}
            <tr>
                <td>{{ movie.id }}</td>
                <td>{{ movie.title }}</td>
                <td>{{ movie.duration }}</td>
                <td>{{ movie.releaseDate ? movie.releaseDate|date('Y-m-d') : '' }}</td>
                <td>{{ movie.synopsis|slice(0,30) }}...</td>
                <td>{{ movie.summary|slice(0,30) }}...</td>
                <td>{{ movie.country }}</td>
                <td><img style="width:100px" src="{{ movie.poster }}" alt=""></td>
                <td>{{ movie.type }}</td>
                <td>{{ movie.rating }}</td>
                <td>
                    <div class="justify-content-center d-flex flex-nowrap gap-3">
                        <a class="btn btn-success btn-lg" href="{{ path('app_back_movie_show', {'id': movie.id}) }}"><i class="bi bi-eye"></i></a>
                        <a class="btn btn-warning btn-lg" href="{{ path('app_back_movie_edit', {'id': movie.id}) }}"><i class="bi bi-pencil"></i></a>
                        {{ include('back/movie/_delete_form.html.twig') }}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
